/* Write your CSS here */
.container {
  height: 100vh;
  background-image: linear-gradient(to left, #e2a139, #f9d239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-container {
  display: flex;
  flex-direction: coulmn;
  background-color: #ffffff;
  padding: 24px;
  width: 80%;
  align-items: center;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .coin-container {
    width: 550px;
    padding: 64px;
  }
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: #a35200;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: 16px;
    font-size: 48px;
  }
}

.paragraph {
  font-weight: 500;
  font-size: 28px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-weight: 500;
    font-size: 35px;
    margin-top: 16px;
  }
}

.toss-image-result {
  width:150px;
  height:150px;
}

@media screen and (min-width:768px) {
  .toss-image-result {
    width:250px;
    height:250px;
  }
}

.button {
  background-color:#f9d239;
  color:#a35200;
  font-family: "Roboto";
  font-weight:300;
  font-size:12px;
  border:none;
  border-radius: 8px;
  padding-top:8px;
  padding-bottom:16px;
  padding-left:16px;
  padding-right:16px;

}

@media screen and (min-width:768px) {
  .button {
    margin-top:32px;
  }
}

.count-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:16px;
}

@media screen and (min-width:768px) {
  .count-container {
    margin-top:32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.count {
  font-weight: 500;
  margin-right:24px;
  color:#475569;
  font-size:16px;
  margin-left:24px;

}
